.menu-btn {
  display: none;
  position: absolute;
  top: 5rem;
  left: 5rem;
  z-index: 9999;

  .btn-line {
    width: 28px;
    height: 3px;
    background-color: #fff;
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.6);
    margin: 0 0 5px 0;
    @include easeOut;
  }

  &.close {
    transform: rotate(180deg);

    .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
      transition-delay: 0.1s;
    }

    .btn-line:nth-child(2) {
      opacity: 0;
    }

    .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px);
      transition-delay: 0.1s;
    }
  }
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;

  .container {
    overflow: visible;
  }

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-main {
      display: flex;
      align-items: center;
      h2 {
        color: $light-color;
        margin-right: 3rem;
      }

      .menu-nav {
        display: flex;
        align-items: center;
        height: 100%;

        .nav-item {
          font-size: 1.8rem;
          text-transform: uppercase;
          display: flex;
          align-items: center;
          color: $light-color;
          border-bottom: 6px solid transparent;
          border-top: 6px solid transparent;
          outline: none;
          @include easeOut;

          &:hover {
            background-color: $main-color;
            border-bottom: 6px solid $secondary-color;
          }

          .nav-link {
            height: 100%;
            width: 100%;
            padding: 2.5rem 1.4rem;
            color: $light-color;
          }
        }

        .current {
          background-color: $main-color;
          border-bottom: 6px solid $secondary-color;
        }
      }
    }

    .search-box-profile {
      display: flex;
      align-items: center;

      .profile {
        width: 5rem;
        height: 5rem;
        background: $main-color;
        margin-left: 2.5rem;
        border-radius: 50%;
      }

      form {
        display: flex;
        justify-content: space-between;
        position: relative;
        align-items: center;
        width: 25rem;
        background-color: $light-color;
        padding: 1rem;
        padding-left: 1.5rem;
        border-radius: 6px;
        border: 1px solid $dark-color;

        .search-input {
          border: none;
          outline: none;
          background: none;
          width: 100%;
          font-size: 1.4rem;
        }

        .search-btn {
          border: none;
          background: none;
          border-left: 1px solid $dark-color;
          padding-left: 1rem;
          cursor: pointer;
          outline: none;
        }

        .result__container {
          position: absolute;
          top: 3.8rem;
          left: 0;
          width: 100%;
          min-height: 5rem;
          z-index: -1;
          padding-top: 1rem;
          box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
          background-color: $light-color;
          color: $dark-color;
          border-radius: 4px;

          .see-more {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5rem;
            background-color: $main-color;
            padding: 0.8rem 0;
            color: $light-color;
            font-size: 700;
          }

          .result-item {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            color: $dark-color;
            font-size: 1.4rem;
            width: 100%;
            padding: 1rem 1.5rem;
            border-bottom: 2px solid $medium-color;
            cursor: pointer;
            @include easeOut;

            &.highlighted {
              background-color: $main-color;
              color: $light-color;
            }

            img {
              width: 40px;
              height: 40px;
              object-fit: cover;
              margin-right: 1.5rem;
            }
          }
        }
      }
    }
  }
}
