.container {
  max-width: $website-width;
  margin: auto;
  overflow: hidden;
  padding: 0 2.4rem;
}

.text {
  &-desc {
    font-size: 1.6rem;
  }
  &-lead {
    font-size: 2rem;
    margin-bottom: 3rem;
  }

  &-primary {
    color: $main-color;
  }

  &-normal {
    font-size: 1.6rem;
    line-height: 1.2;
  }

  &-bold {
    font-weight: 700;
  }

  &-dim {
    color: darken($light-color, 20);
  }

  &-secondary {
    color: $secondary-color;
  }
}

// heading
h1 {
  font-size: 4rem;
  font-weight: 900;
}

h2 {
  font-size: 3rem;
  font-weight: 900;
}

.section-heading {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 700;
}

// anchor-tag
a {
  text-decoration: none;
  color: $light-color;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

// section
section {
  padding: 8rem 0;
}

// Padding
.py {
  &-1 {
    padding: 1rem 0;
  }

  &-2 {
    padding: 2rem 0;
  }

  &-3 {
    padding: 3rem 0;
  }

  &-4 {
    padding: 4rem 0;
  }
}

.px {
  &-1 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &-2 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  &-3 {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  &-4 {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

// Margin
.my {
  &-1 {
    margin: 1rem 0;
  }

  &-2 {
    margin: 2rem 0;
  }

  &-3 {
    margin: 3rem 0;
  }

  &-4 {
    margin: 4rem 0;
  }
  &-5 {
    margin: 5rem 0;
  }
  &-6 {
    margin: 6rem 0;
  }
  &-7 {
    margin: 7rem 0;
  }
  &-8 {
    margin: 8rem 0;
  }
}

.mb {
  &-1 {
    margin-bottom: 1rem;
  }

  &-2 {
    margin-bottom: 2rem;
  }

  &-3 {
    margin-bottom: 3rem;
  }

  &-4 {
    margin-bottom: 4rem;
  }
}

.mt {
  &-1 {
    margin-top: 1rem;
  }
  &-2 {
    margin-top: 2rem;
  }
  &-3 {
    margin-top: 3rem;
  }
  &-4 {
    margin-top: 4rem;
  }
}

.mr {
  &-1 {
    margin-right: 1rem;
  }

  &-2 {
    margin-right: 2rem;
  }
}

// Button

%btn-shared {
  display: inline-block;
  padding: 1rem 4rem;
  border-radius: 2.5rem;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 1.8rem;
  position: relative;
  overflow: hidden;

  p {
    position: relative;
    z-index: 2;
  }
}

%btn-overlay {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 2.5rem;
  transform: scale(0);
  opacity: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  @include easeOut;
}

.btn {
  &-primary {
    @extend %btn-shared;
    background-color: $main-color;
    color: $light-color;
    border: 2px solid $main-color;

    &:hover .btn-primary-overlay {
      transform: scale(1.6);
      opacity: 1;
    }

    &-overlay {
      @extend %btn-overlay;
      background-color: darken($main-color, 10);
    }
  }

  &-secondary {
    @extend %btn-shared;
    background-color: transparent;
    border: 2px solid $light-color;
    color: $light-color;

    &:hover .btn-secondary-overlay {
      transform: scale(1.6);
      opacity: 1;
    }

    &:hover p {
      color: $dark-color;
    }

    &-overlay {
      @extend %btn-overlay;
      background-color: $secondary-color;
    }

    &:disabled {
      background-color: lighten($dark-color, 10);
      cursor: not-allowed;

      .btn-secondary-overlay {
        @extend %btn-overlay;
        background-color: lighten($dark-color, 10);
      }

      &:hover p {
        color: $light-color;
      }
    }
  }
}

// Spinner
.spinner-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2000;
  background-image: radial-gradient(#243b55, #141e30);
  opacity: 0.9;

  .spinner {
    width: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

// Background overlay
.bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  box-shadow: inset 800px 0px 250px rgba(0, 0, 0, 0.8);
}

// Custom CSS for swiper-js
.swiper-container {
  width: 100%;
  height: 30rem;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
  border-radius: 6px;
  position: relative;
  overflow: hidden;

  &:hover .carousel__movie-overlay {
    transform: scale(2) translateX(0) translateY(0) rotate(0deg);
  }

  &:hover .carousel__movie-info {
    visibility: visible;
    opacity: 1;
  }
}

.spinner-sm {
  width: 5rem;
  margin: auto;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Carousel Styling
.carousel__movie {
  &-overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    transform: scale(2) rotate(45deg) translateX(-45%) translateY(-85%);
    background-color: $main-color;
    transition: transform 1.5s cubic-bezier(0.2, 1, 0.3, 1);
  }

  &-info {
    position: relative;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 1rem;
    color: $light-color;
    opacity: 0;
    visibility: hidden;
    @include easeOut;

    &-title {
      font-size: 2rem;
      line-height: 1;
      font-weight: 900;
      margin-bottom: 1rem;

      &:after {
        content: '';
        display: block;
        width: 3rem;
        height: 3px;
        background-color: $secondary-color;
        margin-top: 0.5rem;
      }
    }

    &-genre {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.2;
    }

    &-vote {
      position: absolute;
      background-color: $secondary-color;
      top: 3rem;
      right: 0;
      padding: 1.3rem 1.4rem;
      line-height: 0;
      font-size: 1.3rem;
      color: $dark-color;
      font-weight: 700;
    }
  }
}

.underline {
  display: block;
  margin: auto;
  height: 3px;
  width: 5rem;
  background-color: $secondary-color;
}

.actor-container {
  height: 24rem;

  .swiper-slide {
    border-radius: 2px;
    margin-top: 2rem;
    cursor: default;

    .actor__info {
      position: absolute;
      z-index: 2;
      opacity: 0;
      visibility: hidden;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      color: $light-color;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @include easeOut;

      &-name {
        font-size: 1.6rem;

        &:after {
          content: '';
          display: block;
          height: 3px;
          width: 3rem;
          background-color: $secondary-color;
          margin: auto;
        }
      }

      &-character {
        font-size: 1.3rem;
        text-align: center;
      }
    }

    &:hover .actor__info {
      opacity: 1;
      visibility: visible;
    }
  }
}

// MODAL
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 60;
  overflow: auto;
  padding-top: 40vh;
  background-color: rgba(0, 0, 0, 0.8);

  &.show {
    display: block;
  }

  .modal-content {
    background: $light-color;
    margin: 0 auto;
    max-width: 50rem;
    border-radius: 3px;
    padding: 1.5rem;

    .modal-title {
      font-size: 2rem;
      text-align: left;
      color: $main-color;

      &:after {
        content: '';
        display: block;
        background-color: rgba(0, 0, 0, 0.2);
        height: 1px;
        width: 100%;
        margin: 0 auto;
        margin-top: 1rem;
      }
    }

    .modal-desc {
      margin-top: 1rem;
      font-size: 1.5rem;
      text-align: left;
      color: $dark-color;

      &:after {
        content: '';
        display: block;
        background-color: rgba(0, 0, 0, 0.2);
        height: 1px;
        width: 100%;
        margin: 0 auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
    }

    .action {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}

// CSS TRANSITION GROUP
.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
