.container {
  max-width: $website-width;
  margin: auto;
  overflow: hidden;
  padding: 0 2.4rem;
}

.text {
  &-lead {
    font-size: 2rem;
    margin-bottom: 3rem;
  }

  &-primary {
    color: $main-color;
  }
}

// heading
h1 {
  font-size: 4rem;
  font-weight: 900;
}

h2 {
  font-size: 3rem;
  font-weight: 900;
}

// anchor-tag
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

// Padding
.py {
  &-1 {
    padding: 1rem 0;
  }

  &-2 {
    padding: 2rem 0;
  }

  &-3 {
    padding: 3rem 0;
  }

  &-4 {
    padding: 4rem 0;
  }
}

.px {
  &-1 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &-2 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  &-3 {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  &-4 {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

// Margin
.my {
  &-1 {
    margin: 1rem 0;
  }

  &-2 {
    margin: 2rem 0;
  }

  &-3 {
    margin: 3rem 0;
  }

  &-4 {
    margin: 4rem 0;
  }
  &-5 {
    margin: 5rem 0;
  }
  &-6 {
    margin: 6rem 0;
  }
  &-7 {
    margin: 7rem 0;
  }
  &-8 {
    margin: 8rem 0;
  }
}

.mb {
  &-1 {
    margin-bottom: 1rem;
  }

  &-2 {
    margin-bottom: 2rem;
  }

  &-3 {
    margin-bottom: 3rem;
  }

  &-4 {
    margin-bottom: 4rem;
  }
}

.mr {
  &-1 {
    margin-right: 1rem;
  }

  &-2 {
    margin-right: 2rem;
  }
}

// Button

%btn-shared {
  display: inline-block;
  padding: 1rem 4rem;
  border-radius: 2.5rem;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 1.8rem;
  position: relative;
  overflow: hidden;

  p {
    position: relative;
    z-index: 2;
  }
}

%btn-overlay {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 2.5rem;
  transform: scale(0);
  opacity: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  @include easeOut;
}

.btn {
  &-primary {
    @extend %btn-shared;
    background-color: $main-color;
    color: $light-color;

    &:hover .btn-primary-overlay {
      transform: scale(1.6);
      opacity: 1;
    }

    &-overlay {
      @extend %btn-overlay;
      background-color: darken($main-color, 10);
    }
  }

  &-secondary {
    @extend %btn-shared;
    background-color: none;
    border: 2px solid $light-color;
    color: $light-color;

    &:hover .btn-secondary-overlay {
      transform: scale(1.6);
      opacity: 1;
    }

    &:hover p {
      color: $dark-color;
    }

    &-overlay {
      @extend %btn-overlay;
      background-color: $secondary-color;
    }
  }
}

// Spinner
.spinner-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2000;
  background-image: radial-gradient(#243b55, #141e30);
  opacity: 0.9;

  .spinner {
    width: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

// Background overlay
.bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  box-shadow: inset 800px 0px 250px rgba(0, 0, 0, 0.8);
}

// Custom CSS for swiper-js
.swiper-container {
  width: 100%;
  height: 30rem;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}
